body {
    color: #697f8c;
    font-family: 'Raleway-SemiBold';
    background-color: #242021;
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('static/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('static/Raleway-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: url('static/Raleway-Regular.ttf') format('truetype');
}

button, input[type=submit] {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 2px solid #871e1f;
    border-radius: 30px;
    margin: 0 1px 0 1px;
    width: 150px;
    height: 50px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:#871e1f;
    font-family: 'Raleway-Bold';
    font-size: 13pt;
}

input[type=submit] {
    margin-top: 5px;
}

button:hover, input[type=submit]:hover {
    background-color: #ee3c49;
    border-color: #ee3c49;
    color: white;
}

input[type=number] {
    width: 50px;
    text-align: center;
    float: right;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

textarea, input[type=number] {
    border: 2px solid #9fabb8;
    line-height: 1.6em;
    color: #9fabb8;
    background-color: Transparent;
}

textarea {
    border-radius: 10px;
    resize: none;
}

form {
    border: 2px solid #9fabb8;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.center {
    margin: auto;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type="radio"], label[for="one"], label[for="two"] {
    float: right;
}

input[type="radio"] {
    margin-right: 22px;
}

.check > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #9fabb8;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-right:22px;
    float: right;
}

.check > input:checked {
    background-color: #871e1f;
    border: 1px solid white;
}

.check > input:checked:hover {
    border: 1px solid #9fabb8;
}

.check > input:checked + span::before {
    content: "\2713";
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.check > input:hover {
    border: 1px solid white;
}

.radio > input {
    height: 14px;
    width: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #9fabb8;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-right:22px;
    float: right;
}

.radio > input:checked {
    background-color: #871e1f;
    border: 1px solid white;
}

.radio > input:checked:hover {
    border: 1px solid #9fabb8;
}

.radio > input:checked + span::before {
    content: "\2713";
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.radio > input:hover {
    border: 1px solid white;
}